:root{
    --destaque: #CCA43B;
    --dark: #242F40;
    --ligth: #fefefe;
    --ligth-gray: #E5E5E5;
    --black: #000000;
}

*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: "Castoro", serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 2em;
}

p{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.white{color: var(--ligth);}

.logo{
    font-size: 1.5em;
    color: #fefefe;
    text-align: center;
    & a{
        color: var(--ligth);
        display: block;
        text-align: center;
    }
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.header-top{
    background: linear-gradient(360deg, #000 , #00000050),
    url('./assets/headerimage.png');
    padding: 200px 10px 110px;
    background-size: cover;
    background-position: center;
}
.header-title{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 3em;
}
.header-text{
    color: #fefefe;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 1em;
    margin-bottom: 3.5em;
    padding: 15px;
}
.primary{
    border: 1px solid;
    font-family: "Castoro", serif;
    font-weight: 400;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 10px 25px;
    color: var(--destaque);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1em;
    margin: 5em auto 0;
    transition: all .5s ease;
}
.primary:hover{
    background-color: var(--destaque);
    color: var(--black);
}

.title{
    text-align: center;
    font-size: 28px;
    letter-spacing: 0;
    text-decoration: underline;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}
.title::before{
    content: '';
    width: 1px;
    height: 40px;
    background-color: var(--destaque);
    display: block;
    position: absolute;
    left: 50%;
    top: -60px;
}
.title::after{
    content: '';
    width: 1px;
    height: 40px;
    background-color: var(--destaque);
    display: block;
    position: absolute;
    left: 50%;
    bottom: -60px;
}

.vanteges{
    padding-bottom: 40px;
}
.vanteges-card{
    background-color: var(--black);
    padding: 40px 10px;
    margin: 2em 5px;
}
.icon{
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon::before{
    content: '';
    width: 40px;
    height: 1px;
    display: block;
    margin-right: 1em;
    background-color: var(--ligth);
}
.icon::after{
    content: '';
    width: 40px;
    height: 1px;
    display: block;
    margin-left: 1em;
    background-color: var(--ligth);
}
.card-title{
    color: var(--ligth);
    font-family: "Castoro", serif;
    font-weight: 400;
    letter-spacing: .2em;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.card-text{
    color: var(--destaque);
    text-align: center;
    margin-top: 10px;
}


.comments{
    background-color: var(--ligth-gray);
    padding: 20px 0px
}
.card-comment{
    background: var(--ligth);
    box-shadow: 2px 1px 25px #00000040;
    margin-bottom: 39px;
    padding: 10px 25px;
}
.card-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.stars{
    color: var(--destaque);
}


.vehicles{
    background: var(--black);
    padding: 40px 0;
    position: relative;
}
.vehicles::after{
    content: '';
    background: linear-gradient(360deg, #000000db, #00000000);
    width: 100%;
    height: 200px;
    display: block;
    position: absolute;
    bottom: 210px;
    z-index: 2;
}
.vehicles-video{
    width: 100%;
    box-sizing: border-box;
}
.vehicle-title{
    position: absolute;
    top: 300px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    color: var(--destaque);
}
.vehicle-text{
    position: absolute;
    bottom: 320px;
    text-align: center;
    line-height: 1.6em;
    padding: 20px 40px;
}
.vehicle-btn{
    position: absolute;
    bottom: 240px;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
}

.card{
    text-align: center;
}
.gold{
    color: var(--destaque);
    font-family: "Castoro", serif;
    font-weight: 400;
    letter-spacing: .2em;
    text-decoration: underline;
    text-transform: uppercase;
}
.text{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 1.3em;
}

.footer{
    background-color: var(--black);
    color: var(--ligth);
    padding: 10px 15px;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 25px;
}
.footer-menu a{
    text-decoration: none;
    color: var(--ligth);
    padding: 10px 10px;
    font-family: "Castoro", serif;
    font-weight: 400;
    border-bottom: 1px solid ;
}

.control{
    display: flex;
    z-index: 22;
    justify-content: space-around;
    margin-top: 20px;
    & button{
        padding: 10px 15px;
        background-color: var(--destaque);
        color: #000;
        border: none;
    }
}